.form {
  padding: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 20px;

  transition: 0.5s ease-in-out;
  border: 1px dotted #fff;
  border-radius: 5px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.form * {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.form__inputs {
  border: none;
  outline: none;
  box-shadow: none;
  flex: none;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.form__inputs + .form__inputs {
  margin-left: 10px;
}

.form__item {
  position: relative;
  width: 100%;
  min-width: 300px;
  min-height: 60px;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 5px;
}

.form__item + .form__item {
  margin-top: 10px;
}

.form__input {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 0 5px;
  padding-bottom: 6px;

  background-color: transparent;
  border: none;
  outline: none;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: 0.5s ease-in-out;
  background-color: transparent;

  line-height: 60px;
  letter-spacing: 1px;
  color: #555;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  height: auto;
  padding-top: 6px;

  font-size: 12px;
  line-height: 1;
  color: #777;
}

.form__input:not(:placeholder-shown):invalid + .form__label {
  color: red;
}

.form__text-block {
  min-width: 300px;
  min-height: 150px;
  padding: 5px;
  flex: 1 0 150px;

  border: none;
  outline: none;
  border-radius: 5px;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #000;
}

.form__text-block:focus-visible {
  outline: none;
}

.form__error {
  min-width: 300px;
  margin-top: 10px;
  flex: none;
  align-self: center;

  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}

.form__btn-submit {
  min-width: 300px;
  padding: 15px;
  margin-top: 10px;
  flex: none;
  align-self: center;

  border-radius: 5px;

  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(4, 36, 87);
}

.form__btn-submit:disabled {
  opacity: 0.7;
  cursor: default;
}

.form__check {
  margin-top: 10px;
  border: 1px dotted #555;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.form__check_hidden {
  display: none;
}

.form__check-image {
  width: 190px;
  height: 60px;
  border-radius: 5px;
}

.form__check-data {
  width: 90px;
  min-width: 90px;
  margin: 0;
}

.form__check-label {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .form__item {
    min-height: 50px;
  }

  .form__label {
    line-height: 50px;
  }

  .form__check-image {
    width: 190px;
    height: 50px;
  }
}

@media screen and (max-width: 660px) {
  .form__inputs + .form__inputs {
    margin: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .form {
    padding: 10px 5px;
    margin: 20px 5px;
  }

  .form__text-block {
    min-height: 70px;
    flex: none;
  }

  .form__error {
    width: 100%;
    font-size: 12px;
  }

  .form__btn-submit {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
}

@media screen and (max-height: 400px) {
  .form {
    padding: 10px 20px;
    margin: 5px;
    margin-top: 20px;
  }

}
